body {
    font-family: "Roboto", serif !important; 
    background-color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  /* Home Page Section */

.row{
    margin-right: 0;
    margin-left: 0;
}

.light .postcard {
    flex-wrap: wrap;
    display: flex;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
}

.light .postcard.light {
    background-color: black;
    color: white;
}

.light .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.light .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: #343a40;
    transition: width 0.2s ease;
}


.light .postcard .postcard__text {
    position: relative;
}

.light .postcard .postcard__preview-txt {
    height: 100%;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.light .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #343a40, transparent 60%);
    opacity: 1;
}

.light .postcard:hover .postcard__bar {
     width: 95%;
}

@media screen and (min-width: 1500px) {
    .light	 .postcard {
        flex-wrap: inherit;
    }

    .light	 .postcard .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .light	 .postcard .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .light	 .postcard:hover .postcard__img {
        transform: scale(1.1);
    }

    .light.postcard:nth-child(2n + 0) {
        flex-direction: row-reverse;
    }

    .light.postcard:nth-child(2n + 1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    .light	 .postcard:nth-child(2n + 0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }

    .light.postcard.light .postcard__text:before {
        background: #343a40;
    }

    .light	 .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        top: -20%;
        height: 130%;
        width: 55px;
    }
}
/* Home Page Section */